body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#scrollArea {
  height: 600px;
  width: 600px;
}

#contentArea {
  text-align: left;
  display: inherit;
  align-items: center;
}

.clusterize-scroll {
  max-height: max-content !important;
}

.bottom {
  position: absolute;
  bottom: 100px;
  flex-direction: row;
  justify-content: space-between;
}
