<!DOCTYPE html>
<html>
  <head>
    <title>Simple Chat App</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/clusterize.css" rel="stylesheet">
    <script src="/js/clusterize.js"></script>
  </head>

  <body>
    <h1>Simple Chat App</h1>
    <div id="scrollArea" class="clusterize-scroll">
      <div id="contentArea" class="clusterize-content">
      </div>
    </div>

    <div class="bottom">
      <input type="text" id="chatMessage" placeholder="Chat here"/>
      <input type="button" value="Chat" id="chatEnter"/>
    </div>
  </body>

</html>
