<!DOCTYPE html>
<html>
  <head>
    <title>Simple Chat App</title>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1>Simple Chat App</h1>

    <table class="chatTable">
      <tr>
        <th>Messages</th>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>

    <div class="bottom">
      <input type="text" id="chatMessage" placeholder="Chat here"/>
      <input type="button" value="Chat" id="chatEnter"/>
    </div>
  </body>

</html>
